:root {
    --primario: #F2F2F2;
    --primarioOscuro: #585858;
    --secudario: #04593A;
    --secundarioOscuro: #cba400;
    --blanco: #fff;
    --negro: #000;
    --auxiliar: #9C27B0;
    --text-color: #0D070D;
    --fuenteprincipal: 'Staatliches', cursive;
}

.btnMesa {
    cursor: pointer;
    border: none;
    border-radius: 5%;
    height: 100px;
    width: 190px;
    align-self: center;
    background-color: var(--blanco);
}

.btnMesa:hover {
    border: 2px dashed var(--text-color);
}

.mesa_ov {
    background-color: var(--secudario);
    padding: 1rem;
    border-radius: 4px;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/
body {
    background-color: var(--primario);
    font-size: 1.5rem;
    line-height: 1.5;
}

p {
    font-size: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none;
}

img {
    height: 80%;
    width: 80%;
    margin: 0;
}

.contenedor {
    max-width: 100rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    color: var(--secudario);
    font-family: var(--fuenteprincipal);
}

h4 {
    text-align: center;
    color: var(--blanco);
    font-family: var(--fuenteprincipal);
}

h1 {
    font-size: 3.9rem;
}

h2 {
    font-size: 3.1rem;
}

h3 {
    font-size: 2.3rem;
}

h4 {
    font-size: 1.7rem;
}

.header {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: var(--primarioOscuro);
    margin-top: 2rem;
}

.footer__texto {
    font-family: var(--fuenteprincipal);
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem 0rem;
}

.navegacion {
    background-color: var(--secudario);
    padding: 0.5rem 0rem;
    display: flex;
    justify-content: center;
}

.navegacion__enlace {
    font-family: var(--fuenteprincipal);
    color: var(--blanco);
    font-size: 3rem;
    margin-right: 1.5rem;
}

.navegacion__enlace:last-of-type {
    margin-right: 0rem;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--text-color);
}

/** Grid **/
.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 2rem;
    column-gap: 2rem;
}

/** productos **/
.mesa {
    height: 15rem;
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    border-radius: 4px;
    background-color: var(--blanco);
    border: .1rem solid var(--text-color);
}

.mesa__nombre {
    align-self: center;
    font-size: 3.5rem;
    font-family: var(--fuenteprincipal);
    text-align: center;
    color: var(--text-color);
}

/*popups*/

#modal {
    height: 100%;
    background-color: transparent;
    border: none;
}

#modal2 {
    height: 100%;
    background-color: transparent;
    border: none;
}

#popapp {
    height: 100%;
    background-color: transparent;
    border: none;
}

.fotModal {
    padding: 13px;
}

.divSelect {
    margin-bottom: 20px;
}

.modalestilo {
    min-width: 28em;
    max-width: 40em;
    border-width: 5px;
    border-radius: 5px;
    background-color: var(--primario);
    border: 5px solid var(--text-color);
    border-radius: 7px;
    text-align: center;
    letter-spacing: 2px;
    padding: 5px;
}

.modalestilo h4 {
    color: var(--text-color);
}

.botoncierre {
    height: 34px;
    width: 84px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: var(--secudario);
    border-radius: 3px;
    border: none;
    color: white;
    /* padding: 7px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: var(--fuenteprincipal);
    margin: 8px;
}

.inpCantPlato {
    height: 30px;
    width: 90px;
    border-radius: 7px;
    margin-left: 16px;
    border: 1px solid var(--text-color);
}

.txtArea {
    height: 80px;
    width: 250px;
    max-width: 100%;
    min-width: 50%;
    min-height: 50%;
    border-radius: 7px;
    border: gray;
    border: 1px solid var(--text-color);
}

#slcPlatos {
    width: 400px;
    height: 100px;
}

.boton-orden {
    margin-top: 5.5px;
    font-family: var(--fuenteprincipal);
    padding: 4px;
    border-radius: 2px;
    border: none;
    background-color: var(--primarioOscuro);
    color: white;
}

.boton-orden:hover {
    background-color: rgb(13, 159, 45);
}

.btnNotify{
    height:4rem;
    width: 4rem;
    margin: 0 1rem;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
    border: 3px solid var(--primario);
    color: var(--primario);
    background-color: var(--secudario);
    transition: linear .5s;
}

.btnNotify.active {
    color: var(--text-color);
    background-color: var(--primario);
    border: 3px solid var(--text-color);
}

.btnNotify.active::after{
    position: relative  ;
    transform: translateX(4rem);
    height:4rem;
    width: 4rem;
}

.btnNotify.active:hover, .btnNotify:hover{
    box-shadow: 0px 0px 2rem .5rem rgba(255, 255, 255, .5);
}

.btnNotify span{
    height: 100%;
    width: 100%;
    font-size: 2.25rem;
    line-height: normal;
}

.btnNotify.active span{
    transition: linear 2s;
    animation: tambaleo 1s linear infinite;
}

@keyframes tambaleo {
    0% {}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(10deg);}
    100% {transform: rotate(0deg);}
}
